//
   Created by tanyuan on 12/30/14.
.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    .row
        .col-md-3
            h4.modal-title 账户信息
.modal-body
    table.table.mm-box
        tr.th-inverse
            th  昵称
            th  性别
            th  微信号
            th  电话
            th  备注
        tbody
            each accountContact in accountContactList
                tr
                    td #{accountContact.nickname}
                    td #{accountContact.sex}
                    td #{accountContact.wechatNo}
                    td #{accountContact.telNo}
                    td #{accountContact.comment}
#accountContactBar
script.
    wechatAccountContactPagination.bar('#accountContactBar');
