.style
table.table.mm-box.col-md-10
    tr.th-inverse
        th.col-sm-2(style='width:30%')  名称
        th.col-sm-2(style='width:10%')  总条数
        th.col-sm-2(style='width:10%')  成功数
        th.col-sm-2(style='width:10%')  可用数
        th.col-sm-2(style='width:20%')  时间
        th.col-sm-2(style='width:20%')  操作人
    tbody
        each historyListTable in data
            tr.cust-record(id='#{historyListTable._id}')
                td #{historyListTable.name}
                td #{historyListTable.totalCount}
                td #{historyListTable.successCount}
                td #{historyListTable.availableCount}
                td #{format(historyListTable.ctime)}
                td #{historyListTable.crealName}

#historyPageBar

script.
    historyPagination.bar('#historyPageBar');

    $('.cust-record').click(function(ev) {
        ev.stopPropagation();
        var batchId = $(this).attr('id');
        var condition = {id : batchId};
        if($('#historyForm #userId').val() != '') {
            condition.userid = $('#historyForm #userId').val();
        }

        pup.template.renderTemplateByKey("customerBatch.history.detailDataList", condition);
        $('#batchDetail').modal('show');
    });
