table.table.mm-box
    tr.th-inverse
        th(style="width: 35%")  名称
        th(style="width: 50%")  分公司
        th(style="width: 15%")  操作
    tbody
        each group in groups
            tr.cust-record(data-id='#{group._id}')
                td #{group.name}
                td #{group.orgName}
                td
                    .text-center
                        span.icon-btn.edit.f-edit(data-id='#{group._id},#{group.orgCode}', title='编辑')
                            i.icon.icon-edit-3
                        span.icon-btn.trash.f-del(title='删除', data-id='#{group._id}')
                            i.icon.icon-trash

#groupPageBar

script.
    groupPagination.bar('#groupPageBar');

    $('.f-edit').click(function() {
        flag = 2;
        var data = $(this).data('id');
        var id = data.split(',')[0];
        var orgCode = data.split(',')[1];
        var url = '/upm/group/data';
        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            data: {id: id, orgCode: orgCode},
            success: function (data) {
                if(data.code == 200) {
                    $('#editForm #name').val(data.group.name);
                    resetAndShowEditForm(data);
                    $('#editDlg').modal('show');
                }else{
                    toast(data.msg);
                }
            }
        });
    });

    var toDelGroupId;
    $('.f-del').click(function() {
        $('#delConfirmDlg').modal('show');
        toDelGroupId = $(this).data('id');
    });


